/* Figma Styles of your File */
:root {
  /* Colors */
  --fff: radial-gradient(
    closest-side,
    rgba(23, 23, 23, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  /* Fonts */
  /* Effects */
}
/* Figma Color Variables of your File */
